{% extends 'pages/index.html' %}
{% block content %}
{% load static %}

<div class="container">
  <h1>Welcome to RHEMRICOFFEE SHOP!</h1>


  <section>
  <h2>Welcome to the inviting world of coffee shops, where the rich aroma of freshly ground
   beans mingles with the comforting hum of conversation. A coffee shop is not merely a place to grab a
    quick caffeine fix; it is a social hub, a sanctuary for contemplation, and a haven for those seeking a 
    respite from the hustle and bustle of daily life.</h2></section>
</div>
{% endblock %}